<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ship_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,150}}</string>
				<key>sourceSize</key>
				<string>{230,150}</string>
			</dict>

			<key>bluebubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,978},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>bluebubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,978},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,36}}</string>
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>

			<key>bluebubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,978},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,39}}</string>
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>

			<key>blueshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,409},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>blueshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,425},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>blueshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>blueshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,695},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>blueshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,273},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>blueshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,559},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>blueshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,69},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>blueshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,758},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>blueshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>blueshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,758},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>blueshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,138},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>blueshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,494},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>blueshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,135},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>blueshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,613},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>blueshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,480},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>blueshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,753},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>blueshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,827},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>greenshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,480},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>greenshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>greenshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>greenshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,763},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>greenshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,205},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>greenshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,831},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>greenshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,357},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>greenshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,689},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>greenshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,209},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>greenshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,689},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>greenshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,552},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>greenshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,71},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>greenshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,613},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>greenshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,205},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>greenshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>greenshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,822},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>greenshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,347},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>orangeshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,836},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>orangeshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,288},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>orangeshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,355},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>orangeshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,831},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>orangeshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,137},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>orangeshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,627},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>orangeshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,494},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>orangeshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,620},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>orangeshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,278},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>orangeshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,0},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>orangeshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,485},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>orangeshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,548},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>orangeshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,548},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>orangeshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,680},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>orangeshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,822},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>orangeshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,891},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>orangeshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,207},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>purpleshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,907},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>purpleshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,562},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>purpleshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>purpleshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,559},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>purpleshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,904},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>purpleshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,899},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>purpleshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,631},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>purpleshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,71},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>purpleshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,278},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>purpleshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,138},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>purpleshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,345},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>purpleshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,494},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>purpleshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,272},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>purpleshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,68},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>purpleshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,0},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>purpleshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,412},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>purpleshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,896},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>redbubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,978},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>redbubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,978},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>redbubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,978},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>redshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,0},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>redshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,151},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>redshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>redshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,627},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>redshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,836},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>redshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,695},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>redshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,220},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>redshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,551},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>redshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,69},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>redshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,551},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>redshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,619},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>redshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,958},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>redshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,272},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>redshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,138},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>redshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,890},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>redshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,753},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>redshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,416},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>yellobubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,978},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>yellobubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>yellobubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,978},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>yellowshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,409},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>yellowshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,767},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>yellowshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>yellowshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,899},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>yellowshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,341},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>yellowshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,763},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>yellowshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,699},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>yellowshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,140},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>yellowshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,209},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>yellowshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,620},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>yellowshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,686},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>yellowshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,485},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>yellowshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,337},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>yellowshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,345},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>yellowshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,412},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>yellowshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,69},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>yellowshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,276},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>