<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ship_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,484},{130,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,85}}</string>
				<key>sourceSize</key>
				<string>{130,85}</string>
			</dict>

			<key>bluebubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,894},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>bluebubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,825},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,36}}</string>
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>

			<key>bluebubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,825},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,39}}</string>
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>

			<key>blueshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,352},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>blueshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>blueshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>blueshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,544},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>blueshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,685},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>blueshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,544},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>blueshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,884},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>blueshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,277},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>blueshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,618},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>blueshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,756},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>blueshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,894},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>blueshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,553},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>blueshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,327},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>blueshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,476},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>blueshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,570},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>blueshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,823},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>blueshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,415},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>greenshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,68},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>greenshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,137},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>greenshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>greenshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>greenshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,617},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>greenshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>greenshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,275},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>greenshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,952},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>greenshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,687},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>greenshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,346},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>greenshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,637},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>greenshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,130},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>greenshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,484},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>greenshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,409},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>greenshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,341},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>greenshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,205},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>greenshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,69},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>orangeshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,210},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>orangeshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,952},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>orangeshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>orangeshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,748},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>orangeshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,549},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>orangeshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,884},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>orangeshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,816},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>orangeshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,208},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>orangeshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,756},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>orangeshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,139},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>orangeshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,0},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>orangeshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,638},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>orangeshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,0},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>orangeshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,409},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>orangeshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,704},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>orangeshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,274},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>orangeshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,484},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>purpleshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,68},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>purpleshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,480},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>purpleshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>purpleshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,952},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>purpleshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>purpleshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,612},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>purpleshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,343},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>purpleshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,139},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>purpleshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,415},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>purpleshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,277},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>purpleshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,570},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>purpleshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,0},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>purpleshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,638},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>purpleshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,770},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>purpleshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,205},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>purpleshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,343},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>purpleshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,952},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>redbubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,894},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>redbubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,825},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>redbubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>redshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,139},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>redshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,411},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>redshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>redshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,680},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>redshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,884},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>redshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,816},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>redshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,69},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>redshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,346},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>redshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,687},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>redshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,415},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>redshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,138},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>redshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,65},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>redshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,65},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>redshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,703},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>redshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,273},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>redshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,69},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>redshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>sharkbone_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>sharkbone_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,480},{184,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,35}}</string>
				<key>sourceSize</key>
				<string>{184,35}</string>
			</dict>

			<key>sharkbone_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>stun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,423},{80,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,55}}</string>
				<key>sourceSize</key>
				<string>{80,55}</string>
			</dict>

			<key>stun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,753},{81,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,55}}</string>
				<key>sourceSize</key>
				<string>{81,55}</string>
			</dict>

			<key>stun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,756},{81,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,55}}</string>
				<key>sourceSize</key>
				<string>{81,55}</string>
			</dict>

			<key>stun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,423},{81,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,56}}</string>
				<key>sourceSize</key>
				<string>{81,56}</string>
			</dict>

			<key>target_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,484},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>target_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,772},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>yellobubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,894},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>yellobubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,825},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>yellobubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,34},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>yellowshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,281},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>yellowshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,206},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>yellowshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>yellowshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,612},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>yellowshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,884},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>yellowshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,748},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>yellowshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,816},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>yellowshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,549},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>yellowshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,618},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>yellowshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,208},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>yellowshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,756},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>yellowshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,484},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>yellowshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,262},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>yellowshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,195},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>yellowshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,892},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>yellowshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,0},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>yellowshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,825},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>