<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Ship_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,690},{130,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,85}}</string>
				<key>sourceSize</key>
				<string>{130,85}</string>
			</dict>

			<key>bluebubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,687},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>bluebubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,687},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,36}}</string>
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>

			<key>bluebubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,284},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,39}}</string>
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>

			<key>blueshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,71},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>blueshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,274},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>blueshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>blueshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,816},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>blueshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,411},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>blueshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,612},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>blueshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,750},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>blueshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,276},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>blueshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,483},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>blueshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,686},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>blueshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>blueshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,958},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>blueshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,65},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>blueshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,67},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>blueshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,202},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>blueshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,134},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>blueshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,893},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>greenshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,142},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>greenshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,613},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>greenshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>greenshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,884},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>greenshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,547},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>greenshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>greenshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,408},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>greenshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,207},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>greenshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,483},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>greenshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,69},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>greenshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,276},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>greenshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,343},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>greenshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,825},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>greenshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,758},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>greenshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,270},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>greenshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,544},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>greenshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,345},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>orangeshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,615},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>orangeshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,544},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>orangeshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>orangeshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,952},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>orangeshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,955},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>orangeshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>orangeshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,68},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>orangeshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,138},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>orangeshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,686},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>orangeshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,755},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>orangeshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,343},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>orangeshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,621},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>orangeshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,0},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>orangeshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,920},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>orangeshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,338},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>orangeshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,203},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>orangeshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,824},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>purpleshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>purpleshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,205},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>purpleshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>purpleshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,816},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>purpleshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,343},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>purpleshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,408},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>purpleshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,682},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>purpleshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,345},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>purpleshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,414},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>purpleshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,138},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>purpleshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,477},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>purpleshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,474},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>purpleshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,604},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>purpleshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,604},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>purpleshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,690},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>purpleshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,845},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>purpleshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,276},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>redbubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,687},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>redbubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,687},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>redbubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,284},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>redshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,213},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>redshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,818},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>redshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>redshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,884},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>redshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,887},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>redshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,748},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>redshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,476},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>redshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,0},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>redshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,414},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>redshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,0},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>redshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,410},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>redshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,539},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>redshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,958},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>redshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,920},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>redshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,406},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>redshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,914},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>redshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,552},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

			<key>sharkbone_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,615},{186,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,71}}</string>
				<key>sourceSize</key>
				<string>{186,71}</string>
			</dict>

			<key>sharkbone_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,750},{184,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,35}}</string>
				<key>sourceSize</key>
				<string>{184,35}</string>
			</dict>

			<key>target_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,839},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>target_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,758},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>yellobubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,284},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>yellobubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,284},{40,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,35}}</string>
				<key>sourceSize</key>
				<string>{40,35}</string>
			</dict>

			<key>yellobubble_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,687},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,33}}</string>
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>

			<key>yellowshark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,887},{184,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,70}}</string>
				<key>sourceSize</key>
				<string>{184,70}</string>
			</dict>

			<key>yellowshark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,136},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>yellowshark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,68},{195,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,67}}</string>
				<key>sourceSize</key>
				<string>{195,67}</string>
			</dict>

			<key>yellowshark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,67}}</string>
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>

			<key>yellowshark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,479},{187,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,67}}</string>
				<key>sourceSize</key>
				<string>{187,67}</string>
			</dict>

			<key>yellowshark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,544},{192,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,67}}</string>
				<key>sourceSize</key>
				<string>{192,67}</string>
			</dict>

			<key>yellowshark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{189,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,67}}</string>
				<key>sourceSize</key>
				<string>{189,67}</string>
			</dict>

			<key>yellowshark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,69},{176,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,68}}</string>
				<key>sourceSize</key>
				<string>{176,68}</string>
			</dict>

			<key>yellowshark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,755},{159,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,68}}</string>
				<key>sourceSize</key>
				<string>{159,68}</string>
			</dict>

			<key>yellowshark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,207},{147,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,68}}</string>
				<key>sourceSize</key>
				<string>{147,68}</string>
			</dict>

			<key>yellowshark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,67},{121,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,66}}</string>
				<key>sourceSize</key>
				<string>{121,66}</string>
			</dict>

			<key>yellowshark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,343},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>

			<key>yellowshark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,474},{78,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,64}}</string>
				<key>sourceSize</key>
				<string>{78,64}</string>
			</dict>

			<key>yellowshark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,0},{79,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,66}}</string>
				<key>sourceSize</key>
				<string>{79,66}</string>
			</dict>

			<key>yellowshark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,134},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>

			<key>yellowshark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,776},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>yellowshark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,621},{142,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,68}}</string>
				<key>sourceSize</key>
				<string>{142,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>